.main1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 50%;
  width: 50%;
  border-radius: 60%;
  cursor: pointer;
}

.imgContainer {
  height: 45%;
  width: 45%;
  margin-top: 20%;
}

.image:hover {
  opacity: 50%;
}
