
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main{
    margin:auto;
    width:80%;
    height:25%;
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content:space-evenly
    }

.image {
    height:25%;
    width:25%;
margin-top:25%;
cursor: pointer;
}

.imgContainer{
    height:15%;
    width:15%;
margin-top:20%;
}

.image:hover {
    opacity: 50%;
}
