@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main {
  flex:1;
  display:flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content:center;

}

.main{
  margin-top: -50px;
}